{{ docType() }}
<html lang="en">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<title>
			{% block title %}{% endblock title %} Cards Against Humanity
		</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block meta %}{% endblock meta %}
		
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="css/normalize.css">
			<link rel="stylesheet" type="text/css" href="css/layout.css">
			<link rel="stylesheet" type="text/css" href="css/structure.css">
			<link rel="stylesheet" type="text/css" href="css/typography.css">
		{% endblock %}
		
		<link rel="shortcut icon" href="images/favicon.png">
	</head>
	<body>
		<div class="wrap">
			<div class="container">
				<!-- content|raw is required for phtml fallback -->
				{% block content %}{{ content|raw }}{% endblock content %}
			</div>
			<div class="right-bar">
				<div class="information">
					<h1>Cards Against Humanity</h1>
					{% if not player %}
						<strong>Log In</strong>
						{% set loginForm = loginForm.prepare().setAttribute('method', 'post').setAttribute('action', url('login')) %}
						{{ form().openTag(loginForm)|raw }}
							{% block backurl %}<input type="hidden" name="backurl" value="{{ url('games') }}">{% endblock backurl %}
							<fieldset>
								{% for field in loginForm %}
									<div class="field">
										{{ formRow(field) }}
									</div>
								{% endfor %}
							</fieldset>
							<div class="actions">
								<button type="submit">Login</button>
							</div>
						{{ form().closeTag()|raw }}
					{% else %}
						{{ dump(player) }}
					{% endif %}
				</div>
				<ul class="players">
					{% for player in players %}
						<li>
							
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% block inline %}{% endblock inline %}
	</body>
</html>
