{% extends 'layout/layout.twig' %}

{% block stylesheets %}
	{{ parent() }}
	
	<link rel="stylesheet" type="text/css" href="css/game/layout.css">
	<link rel="stylesheet" type="text/css" href="css/game/structure.css">
{% endblock %}

{% block content %}
	<div class="game-controls">
		{% if not player %}
			{% set loginForm = loginForm.prepare().setAttribute('method', 'post').setAttribute('action', url('login')) %}
			{% set email = loginForm.get('email') %}
			{% set displayName = loginForm.get('displayName') %}
			{% set submit = loginForm.get('submit') %}
			{{ form().openTag(loginForm)|raw }}
				{% block backurl %}<input type="hidden" name="backurl" value="{{ url('games') }}">{% endblock backurl %}
				<div>
					{{ formLabel(email)|raw }}
					{{ formEmail(email)|raw }}
					{{ formElementErrors(email)|raw }}
				</div>
				<div>
					{{ formLabel(displayName)|raw }}
					{{ formText(displayName)|raw }}
					{{ formElementErrors(displayName)|raw }}
				</div>
				<div>
					{{ formButton(submit, 'Login')|raw }}
				</div>
			{{ form().closeTag()|raw }}
		{% else %}
			{{ dump(player) }}
		{% endif %}
	</div>
	{% if games|length > 0 %}
		<ul class="game-list">
			{% for game in games %}
				<li data-game-id="{{ game.id }}">
					<a href="{{ url("games") }}/game/{{ game.id }}"></a>
					<div class="name">{{ game.name }}</div>
					<div class="players">Players: {{ game.players }}</div>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<div class="game-list no-games">
			No games in session
		</div>
	{% endif %}
{% endblock content %}
