{% extends 'layout/layout.twig' %}

{% block stylesheets %}
	{{ parent() }}
	
	<link rel="stylesheet" type="text/css" href="css/game/layout.css">
	<link rel="stylesheet" type="text/css" href="css/game/structure.css">
{% endblock %}

{% block content %}
	<div class="game-controls">
		{% if player %}
			{% set createGameForm = createGameForm.prepare().setAttribute('method', 'post').setAttribute('action', url('games/create')).setAttribute('id', 'create-game') %}
			{{ form().openTag(createGameForm)|raw }}
				<fieldset>
					{% for field in createGameForm %}
						<div class="field" id="{{ createGameForm.getAttribute('id') }}_{{ field.getAttribute('id') }}">
							{{ formRow(field) }}
						</div>
					{% endfor %}
				</fieldset>
				<div class="actions">
					<button type="submit">Create Game</button>
				</div>
			{{ form().closeTag()|raw }}
		{% endif %}
	</div>
	{% if games|length > 0 %}
		<ul class="game-list">
			{% for game in games %}
				<li data-game-id="{{ game.id }}">
					<a href="{{ url("games") }}/game/{{ game.id }}"></a>
					<div class="name">{{ game.name }}</div>
					<div class="players">Players: {{ game.players }}</div>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<div class="game-list no-games">
			No games in session
		</div>
	{% endif %}
{% endblock content %}
